<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCckMGg_mlaHjGBD0-jy4-rq7pvDKKN-5w</string>
	<key>GCM_SENDER_ID</key>
	<string>964554081636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mab.com.popularPeople</string>
	<key>PROJECT_ID</key>
	<string>popluar-people</string>
	<key>STORAGE_BUCKET</key>
	<string>popluar-people.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964554081636:ios:8f384911dddd4a5cbbe671</string>
</dict>
</plist>